<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chuck Norris Facts</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <ion-card> 
    <div class="ion-padding">
      <ion-button expand="block" color="light" (click)="getJoke()">get Joke</ion-button>
    </div>
    <ion-card-content class="ion-text-center" style="font-weight: bold; font-size: 16px; padding-bottom: 30px;">
      {{ Jokes[0] }}
    </ion-card-content>
  </ion-card>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let joke of Jokes | slice:1">
        <ion-card> 
          <ion-card-content class="ion-text-center">
            {{ joke }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
